name: new_release

on:
  push:
    branches: [ main ]

jobs:
  create_release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Read release.json
        uses: notiz-dev/github-action-json-property@release
        id: package_info
        with:
          path: 'release.json'
          prop_path: 'version'

      - name: Show version number
        run: echo "Version is ${{ steps.package_info.outputs.prop }}"

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: "v${{ steps.package_info.outputs.prop }}"
          release_name: Release v${{ steps.package_info.outputs.prop }}